<app-side-menu></app-side-menu>

<ion-content [fullscreen]="true" class="ion-page" id="main-content">
  <app-header></app-header>
  <ion-row style="margin-left: 10px; margin-right: 10px; margin-top: 10px;">
    <ion-col size="6">
      <ion-img src="data:image/png;base64,{{ product.image }}" alt=""></ion-img>
      <ion-row style="margin-top: 10px;">
        <ion-col size="4">
          <ion-img src="../../assets/images/pizzaProductDetailLittle.png" alt=""></ion-img>
        </ion-col>
        <ion-col size="4">
          <ion-img src="../../assets/images/pizzaProductDetailLittle.png" alt=""></ion-img>
        </ion-col>
        <ion-col size="4">
          <ion-img src="../../assets/images/pizzaProductDetailLittle.png" alt=""></ion-img>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="6">
      <div style="margin-left: 10%;">
        <h3 style="margin-left: 2%; font-size: 20px; font-weight: regular;">{{ product.name }}</h3>
        <p style="font-weight: bold; font-size: 17px; color: #F2C35B; margin-left: 2%;"> {{ product.price }} €</p>
        <ion-row>
          <ion-button style="--padding-start: 15px; --padding-end: 15px; font-size: 15px;" shape="round"  (click)="descrementQuantity()">-</ion-button>
          <p style="font-size: 20px; margin-top: 10px; margin-left: 2%; margin-right: 2%;">{{ quantity }}</p>
          <ion-button style="--padding-start: 15px; --padding-end: 15px; font-size: 10px;" shape="round" (click)="incrementQuantity()">+</ion-button>
          <ion-button style="font-size: 11px; width: 55%; color: black;" (click)="addProductToCart()" routerLink="/menu">Add cart ></ion-button>
        </ion-row>
      </div>
    </ion-col>
    <p style="margin-left: 10px; margin-right: 10px;">Classic marinara sauce, authentic old-world pepperoni, all-natural Italian sausage, slow-   roasted ham, hardwood smoked bacon, seasoned pork and beef. Best an our Hand
      Tossed crust. With more than 50 years of experience under our belts, we understand how 
      to best serve our customers through tried and true service principles. Instead of following
      trends, we set them. We create food were proud to serve and deliver it fast, with a smile.
     Classic marinara sauce, authentic old-world pepperoni, all-natural Italian sausage, slow-roasted ham, hardwood smoked bacon, seasoned pork and beef. Best an our Hand 
     Tossed crust. With more than 50 years of experience under our belts, we understand how to best serve our customers through tried and true service principles.
     Instead of following trends, we set them. We create food we're proud to serve and deliver it fast, with a smile.</p>
  </ion-row>
</ion-content>