ion-content, ion-list, ion-toolbar {
    --background: var(--ion-color-primary-background-color);
}
  
.background-menu{
    --background: var(--ion-color-primary-color);
}
  
ion-button {
    --background: #F2C35B;
    --background-activated: transparent !important;
    --background-activated-opacity: 0.5;
}
  
p, h3{
    font-family: 'PT Sans Narrow', sans-serif;
}