<app-side-menu></app-side-menu>

<ion-content [fullscreen]="true" class="ion-page" id="main-content">
  <app-header [bannerName]="'Help'"></app-header>
  <div class="ion-padding">
    <h4 style="color: #F2C35B">Task 1:</h4><h4> On the Menu page, to add the desired product just click on the product category (slide the slider if necessary), when you find the product click on it. After that, you will be redirected to the product page where you can increase/decrease the quantity and add to cart  </h4>
    <h4 style="color: #F2C35B">Task 2:</h4><h4> On the menu page, to add a pack to the order, just look for the "packs" category slider. Click on the pack you want. After that, insert the drink and food you want to add to the cart  </h4>
    <h4 style="color: #F2C35B">Task 3:</h4><h4> To be redirected to the client area page click on the menu and click on "Client area". After that it is necessary to click on order in the accordion menu, where all the orders you have already made will be listed, click on the order you want to place again. After that choose the delivery address and payment method and make the payment  </h4>
  </div>  
</ion-content>