<ion-menu contentId="main-content">
  <ion-content class="background-menu ion-padding ion-text-center">
    <h3 routerLink="/register">HOME</h3>
    <h3 routerLink="/menu">MENU</h3>
    <h3 routerLink="/reset-password">PROMOTIONS</h3>
    <h3 routerLink="/client-area">CLIENT AREA</h3>
    <h3>ABOUT</h3>
    <h3>CONTACT</h3>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" class="ion-page" id="main-content">
  <app-header></app-header>
  <swiper-container slides-per-view="3" speed="500" loop="true" css-mode="false">
    <swiper-slide *ngFor="let Category of Categories" (click)="onCategoryClick(Category.id)" 
      [ngClass]="{'selected': selectedCategoryId === Category.id}" id="{{ Category.id }}" class="ion-text-center">
      {{ Category.name }}
    </swiper-slide>
  </swiper-container>
  <div class="background-product" *ngFor="let Product of Products" (click)="onProductClick(Product.id)">
    <div class="ion-justify-content-center" style="position: relative;">
      <ion-img class="imgProduct" src="../../assets/images/pizzaProduct.png" alt=""></ion-img>
      <div class="ion-text-center containerProductAtributes">  
        <h3>{{ Product.name }}</h3>
        <p style="margin-left: 10px; margin-right: 10px;">Classic marinara sauce, authentic old-world pepperoni, all-natural Ita</p>
        <p style="font-weight: bold; font-size: 20px;">{{ Product.price }} €</p>
      </div>
    </div>
  </div>
</ion-content>