<ion-row class="ion-text-end">
  <ion-col size="9" class="ion-text-end">
    <ion-row style="display: block; text-align: right;" class="ion-text-end">
      <p style="margin: 0;">10.00€</p>
    </ion-row>
    <ion-row style="display: block; text-align: right;">
      <p style="margin: 0; font-size: 10px;">2 item - View cart</p>
    </ion-row>
  </ion-col >
  <ion-col size="3"> 
    <ion-icon size="large" name="cart-outline"></ion-icon>
    <ion-badge style="display: block; position: absolute; top: 0; left: 21px;" color="primary-color" class="primary-color">5</ion-badge>
  </ion-col>              
</ion-row>