
.logo{
    width: 45%;
    height: 45%;
  }
  
  ion-content, ion-list, ion-toolbar {
      --background: var(--ion-color-primary-background-color);
  }
  
  .background-menu{
      --background: var(--ion-color-primary-color);
  }
  
  ion-badge {
      background-color: #F2C35B;
  }
  
  h3, label{
      font-family: 'PT Sans Narrow', sans-serif;
  }
  
  .background-cart {
    border-radius: 30px;
    background-color: #202426;
  }
  
  ion-row {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  ion-button {
    --background: #F2C35B;
    --background-activated: transparent !important;
    --background-activated-opacity: 0.5;
}
  