ion-content, ion-list, ion-toolbar, ion-item, .background-child-item {
    --background: var(--ion-color-primary-background-color);
    background-color: #121618;
}

h4{
    font-family: 'PT Sans Narrow', sans-serif;
}