<app-side-menu></app-side-menu>

<ion-content [fullscreen]="true" class="ion-page" id="main-content">
  <app-header [bannerName]="'Client Area'"></app-header>
  <ion-accordion-group expand="inset" [value]="['Dashboard']">
    <ion-accordion value="Dashboard">
      <ion-item slot="header" style="--background: #F2C35B; color: #121618; --color-activated: #121618;">
        <ion-label style="margin-left: 35px;" class="ion-text-center">Dashboard</ion-label>
      </ion-item>
      <div style="padding-top: var(--ion-padding, 0px); padding-bottom: var(--ion-padding, 0px); background-color: #121618;" class="ion-padding" slot="content">
        <ion-row>
          <ion-col size="12">
            <p>Hello {{ user.name }} what are you going to eat today?</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
    <ion-accordion value="order">
      <ion-item slot="header" style="--background: #F2C35B; color: #121618; --color-activated: #121618;">
        <ion-label style="margin-left: 35px;" class="ion-text-center">Orders</ion-label>
      </ion-item>
      <div style="padding-top: var(--ion-padding, 0px); padding-bottom: var(--ion-padding, 0px); background-color: #121618;" class="ion-padding" slot="content">
        <ion-row>
          <ion-col size="12" *ngFor="let order of orders">
            <p style="font-size: 14px;">
              <span>{{ order.createdAt }}</span>
              <span style="margin-left: 2%;">{{ order.amount }} €</span>
              <u (click)="onClickShowMore(order.id)" style="margin-left: 2%;" [attr.id]="'open-custom-dialog-' + order.id">show more</u>
            </p>
          </ion-col>
        </ion-row>
        <ion-modal *ngFor="let order of orders" [id]="'example-modal-' + order.id" #modal [trigger]="'open-custom-dialog-' + order.id">
          <ng-template>
            <div class="wrapper">
              <ion-row *ngFor="let orderLine of orderLines" style="border-radius: 30px; background-color: #202426; margin-bottom: 5%; width: 90%;">
                <ion-col size="2">
                  <ion-img class="imgProduct" src="data:image/png;base64,{{ orderLine.image }}" alt=""></ion-img>
                </ion-col>
                <ion-col size="10">
                  <ion-row>
                    <ion-col size="4">
                      <ion-row>
                        <p><ion-text class="ion-text-start ion-text-wrap" style="font-size: 13.5px; font-weight: bold;">{{ orderLine.productName }}</ion-text></p>
                        <p><ion-text class="ion-text-start ion-text-wrap" style="font-size: 13px;">{{ orderLine.category }}</ion-text></p>
                      </ion-row>
                    </ion-col>          
                    <ion-col size="2.5">
                      <p>{{ orderLine.price }}€</p>
                    </ion-col>
                    <ion-col size="2">
                      <ion-row>
                      <p style="font-size: 15px;">{{ orderLine.quantity }}</p>
                      </ion-row>
                      </ion-col>
                    <ion-col size="2.5">
                      <p>{{ orderLine.quantity * orderLine.price }}€</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              <p>Amount: {{ order?.amount }} €</p>
              <ion-row class="ion-justify-content-end">
                <ion-button (click)="saveToCart()" style="--background: #F2C35B; ">
                  Order again
                </ion-button>                   
              </ion-row>  
            </div>
          </ng-template>
        </ion-modal>
      </div>
    </ion-accordion>
    <ion-accordion value="adresses">
      <ion-item slot="header" style="--background: #F2C35B; color: #121618; --color-activated: #121618;">
        <ion-label style="margin-left: 35px;" class="ion-text-center">Adresses</ion-label>
      </ion-item>
      <div style="padding-top: var(--ion-padding, 0px); padding-bottom: var(--ion-padding, 0px); background-color: #121618;" class="ion-padding" slot="content">
        <ion-row>
          <ion-col size="12">
            <p style="font-size: 15px;">Address: {{ user.address }}  <br> ZipCode: {{ user.zipCode }} <br> City: {{ user.city }}</p>              
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>    
    <ion-accordion value="logout" (click)="logoutCurrentUser()">
      <ion-item slot="header" style="--background: #F2C35B; color: #121618; --color-activated: #121618;">
        <ion-label style="margin-left: 35px;" class="ion-text-center">Logout</ion-label>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>