.logo{
    width: 45%;
    height: 45%;
}
  
ion-content, ion-list, .background-open {
    --background: var(--ion-color-primary-background-color);
}

.background-menu{
    --background: var(--ion-color-primary-color);
}

ion-badge {
    background-color: #F2C35B;
}
  
h3, .label{
    font-family: 'PT Sans Narrow', sans-serif;
}

.inputs-form{
    border-bottom: 2px solid white; 
    color: #fff; 
    --highlight-color: #F2C35B; 
    margin-left: 10px; 
    width: 310px;
  }