<app-side-menu></app-side-menu>

<ion-content [fullscreen]="true" class="ion-page" id="main-content">
  <app-header [bannerName]="'Cart'"></app-header>
  <p *ngIf="productCount === 0" style="text-align: center;">Ainda não adicionou nenhum produto ao carrinho</p>
  <ion-grid *ngIf="productCount !== 0">
    <ion-row style="background-color: #202426; margin-bottom: 5%;">
      <ion-col size="2">
      </ion-col>
      <ion-col size="10">
        <ion-row>
         <ion-col size="3">
          <p style="font-size: 13px;">Product</p>
         </ion-col>
         <ion-col size="2.5">
          <p style="font-size: 13px;">Price</p>
         </ion-col>
         <ion-col size="3">
          <p style="font-size: 13px;">Quantity</p>
         </ion-col>
         <ion-col size="2">
          <p style="font-size: 13px;">Total</p>
         </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of cartItems" style="border-radius: 30px; background-color: #202426; margin-bottom: 5%;">
      <ion-col size="2">
        <ion-img class="imgProduct" src="data:image/png;base64,{{ item.product.image }}" alt=""></ion-img>
      </ion-col>
      <ion-col size="10">
        <ion-row>
          <ion-col size="3">
            <ion-row>
              <p><ion-text class="ion-text-start" style="font-size: 13px; font-weight: bold;">{{ item.product.name }}</ion-text></p>
              <p><ion-text class="ion-text-start" style="font-size: 13px;">{{ item.product.category }}</ion-text></p>
            </ion-row>
          </ion-col>          
          <ion-col size="2.5">
            <p>{{ item.product.price }}€</p>
          </ion-col>
          <ion-col size="3">
            <ion-row>
              <ion-button (click)="descrementQuantity(item.product.id)" style="--background: #383C3E;; --padding-start: 0.6em; --padding-end: 0.6em;">-</ion-button>
              <p style="font-size: 13px;">{{ item.quantity }}</p>
              <ion-button (click)="incrementQuantity(item.product.id)" style="--background: #383C3E; --padding-start: 0.5em; --padding-end: 0.5em;">+</ion-button>
            </ion-row>
          </ion-col>
          <ion-col size="2.5">
            <p>{{ item.quantity * item.product.price }}€</p>
          </ion-col>
          <ion-col size="1" (click)="confirmDelete(item.product.id)">
            <div class="d-flex align-items-center justify-content-center">
              <ion-button color="danger" style="--padding-start: 0; --padding-end: 0;"><ion-icon name="trash-outline"></ion-icon></ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button routerLink="/checkout" style="--background: #F2C35B;" class="buttonSave">
        Save
      </ion-button>    
    </ion-row>       
  </ion-grid>
</ion-content>