.imagem-fundo {
  position: absolute;
  top: 10px;
  left: 25px;
  right: 25px;
  z-index: 1;
}
  
@media (min-width: 392px) {
  .container-frente {
    border-radius: 10px;
    background-color: #202426; 
    top: 90px; 
    z-index: 2; 
    max-width: 340px !important; 
    margin-left: 25px;
    left: 10px;
    right: 10px;
  }
}

@media (max-width: 391px) {
  .container-frente {
    border-radius: 10px;
    background-color: #202426; 
    top: 90px; 
    z-index: 2; 
    max-width: 320px !important; 
    margin-left: 25px;
    left: 10px;
    right: 10px;
  }
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 13px;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

label{
  font-size: 16px;
  color: #F2C35B;
}

ion-content, ion-list, ion-toolbar {
  --background: var(--ion-color-primary-background-color);
}

.background-menu{
    --background: var(--ion-color-primary-color);
}

h3, label{
    font-family: 'PT Sans Narrow', sans-serif;
}

@media (min-width: 392px) {
  .inputs-form{
    border-bottom: 2px solid white; 
    color: #F2C35B; 
    --highlight-color: #F2C35B; 
    margin-left: 10px; 
    width: 310px;
  }
}

@media (max-width: 391px) {
  .inputs-form{
    border-bottom: 2px solid white; 
    color: #F2C35B; 
    --highlight-color: #F2C35B; 
    margin-left: 10px; 
    width: 290px;
  }
}

.selector-form{
  border-bottom: 2px solid white; 
  color: #F2C35B; 
  --placeholder-opacity: 1;
}

ion-button{
  --background: #F2C35B; 
  width: 200px; 
  height: 35px; 
  color: #121618;
  font-family: 'PT Sans Narrow', sans-serif;
  --background-activated: var(--ion-color-primary-background-color);
  --background-activated-opacity: 0.5;
}

ion-radio::part(container) {
  width: 19px;
  height: 19px;
  
  border-radius: 8px;
  border: 2px solid #F2C35B;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: #F2C35B;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;

  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;

  transform: rotate(45deg);
}


 .ion-activatable {
  background-color: #fff0 !important;
 }

 ion-modal {
  &.center {
    --width: calc(100% - 2em);
    align-items: center;
    --height: auto;
    .ion-page {
      position: relative;
      display: block;
      contain: content;
    }
  }
}